.header{
    padding-bottom: 10px;
    padding-left:13px;
    font-size: 24px;
}

.container{
    
}
table{
    width: 100%
}
.table_header{
    border-bottom: 5px solid grey;
   
}
.table_content{
    border-bottom: 1px solid grey;
}
.table_content:last-child{
    border-bottom: none;
}

td, th {
    padding: 20px;
}
.hspan{
    display:none;
}
.table_mobile{
    display: none;
}

.well-style-creditcard{

    background:white;
    height: 290px;
}
.well-style-paypal{

    background:white;
    height: 120px;
}

.sub-text{
    padding-top:5px;
    padding-left:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: lightgrey;
}

@media only screen and (max-width: 650px) {

    .header{
        padding-bottom: 10px;
        padding-left:5px;
        border-bottom:none;
        font-size: 24px;
    }
    .table_header{
        display:none;
    }
    .hspan{
        display: inline-block;
        float: right;
        position: relative;
        font-size: 13px;
        top: 10px;
    }
    .table_content{
        display:none;
    }
    .table_mobile{
        display: block;
        border-bottom: 1px solid grey;
        padding-bottom: 10px
    }
    .table_mobile:last-child{
        border-bottom: none;
    }
    
    
}

@media only screen and (min-width: 768px) {
    .charts{
        position: relative;
        left:50px;
        align-content: center;
        display: block;
        height:200px;
        width:700px
    }
}

@media only screen and (min-width: 992px) {
    .charts{
        position: relative;
        left:50px;
        align-content: center;
        display: block;
        height:200px;
        width:800px
    }
}
@media only screen and (min-width: 1200px) {
    .charts{
        position: relative;
        left:50px;
        align-content: center;
        display: block;
        height:200px;
        width:800px
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
