<app-displayheader>

  <div style="padding:10px;width: 100%;">

    <div class="container-fluid" style="width: 75%;">
      <div class="header">
        <span>Customer Information</span>
      </div>
      <div class="container-fluid">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>First Name</label>
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" type="text">
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Address</label>
                <input class="form-control" type="text">
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Country</label>
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>City</label>
                <input class="form-control" type="text">
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Postal Code</label>
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Phone</label>
                <input class="form-control" type="text">
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <a>
                  <span class="glyphicon glyphicon-arrow-left"></span> Return to Shop</a>
              </div>
            </div>
            <div class="col-md-5">

            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input class="form-control btn btn-primary" type="button" (click)="movetoShipping()" value="Continue to Shipping">
              </div>
            </div>
          </div>
        </form>
      </div>


    </div>
  </div>

</app-displayheader>